@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-de-fundo: #091413;
   --cor-de-texto-principal:#B0E4CC;
   --cor-de-texto-secundário:#B0E4CC;
   --botão-ativo:#7FB77E;
   --botâo-inativo:#7FB77E;
   }

body{
   font-family: "Raleway", sans-serif;
   conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;

 background:var(--cor-de-fundo);
color:var(--cor-de-texto-principal);}

         text-align: :left;
         width: 100%;
         font-size: 32px;

         .titulo-principal{
            text-aling:var(--botâo-inativo)
            
         
         

